<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <span> ASSIGNMENT </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-button>
                        <mat-icon>person_outline</mat-icon>
                        Welcome {{ userName }}
                    </button>
                    

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>